<%= form_with(model: craft) do |f| %>
  <% if craft.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(craft.errors.count, "error") %> prohibited this craft from being saved:</h2>

      <ul>
        <% craft.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category, ["3D-Print", "Crotchet", "Embroidery", "Miscellaneous"]%>
  </div>

  <div>
    <%= f.label :image %>
    <%= image_tag f.object.image_url if f.object.cached_image_data %>
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <%= f.file_field :image %>
  </div>
  <br>

  <div>
    <%= f.submit "Create craft post"%>
  </div>
<% end %>