<div class='indent large-text edit-craft-form'>
  <%= form_with model: craft, local: true, html: { enctype: 'multipart/form-data' } do |f| %>
    <% if craft.errors.any? %>
      <div style='color: red'>
        <h2><%= pluralize(craft.errors.count, 'error') %> prohibited this craft from being saved:</h2>
  
        <ul>
          <% craft.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :name, style: 'display: block' %>
      <%= f.text_field :name %>
    </div>

    <div data-controller='subtype'>
      <div data-action="change->subtype#updateSubtype">
        <%= f.label :category, style: 'display: block' %>
        <%= f.select :category, ['3D-Print', 'Crotchet', 'Embroidery', 'Earring', 'Painting', 'Miscellaneous'] %>
      </div>
      <div data-subtype-target='subtype'>
        <%=  f.label :subtype, style: 'display: block' %>
        <%=  f.select :subtype, [] %>
      </div>
    </div>
    <div>
      <%= f.label :description, style: 'display: block' %>
      <%= f.text_area :description, rows: 5, cols: 40 %>
    </div>
    <div>
      <label for='files'>Upload New Images:</label>
      <%= file_field_tag 'files[]', multiple: true %>
    </div>
    <div class='craft-images-wrapper' data-controller='sortable' >
      <% if craft.craft_images.present? %>
        <%= f.fields_for :craft_images do |ci| %>
          <div class='craft-form-image-card'>
            <%= image_tag ci.object.image_url, class: 'tiny-image' %>
            <%= ci.hidden_field :image, value: ci.object.cached_image_data, id: nil %>
            <%= ci.radio_button :main_image, ci.object.image_url , checked: craft.image == ci.object.image_url %>
            <%= ci.label :main_image, 'Set as the main Image' %>
            <%= ci.check_box :_destroy %>
            <%= ci.label :_destroy %>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    
    <% if @craft.new_record?%>
      <div>
        <%= f.submit 'Create New Craft', class: 'btn btn-primary' %>
      </div>
    <% else %>
        <%= f.submit 'Update Craft', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>