<h1 class>Edit Craft</h1>
<% if current_user&.admin? %>
  <div class='center mb-3'>
    <%= link_to 'All Crafts', crafts_path, class:'btn btn-dark' %>
    <%= link_to 'View This Post', craft_path(@craft), class: 'btn btn-primary' %>
  </div>

  <div class='center'>
    <% if @craft.craft_images.present? %>
      <%= image_tag @craft.craft_images.first.image_url, class: 'max-size-image' %>
    <% end %>
  </div>
  
  <% if @craft.subtype.present? %>
    <h4 class="center">Subtype: <%= @craft.subtype %></h4>
  <% end %>
  <%= render 'form', craft: @craft %>
  <br>

<p>This button is to remove this post all together!</p>
<% if (1..11).exclude?(@craft.id)  %>
  <%= button_to 'Destroy Craft', craft_path(@craft), method: :delete, data: { turbo: false}, onclick: "return confirm('Are you sure you want to delete this craft?');", class: 'btn btn-danger', style: 'margin-left: 5rem; margin-bottom: 5rem' %>
<% end %>
<%= link_to 'Back', :back, class:'btn btn-custom indent', style: 'margin-left: 5rem' %>
<% else %>
  <p>You seem to be lost!</p>
<% end %>

