<% if current_user.admin? %>
  <h1>Edit Craft</h1>
  <%= image_tag(@craftimage.image_path, class: 'center-img craft-edit-image-size') %>
  <div class="indent large-text">
    <div>
      ID: <%= @craft.id %>
    </div>
    <div>
      Name: <%= @craft.name %>
    </div>
    <div>
      Category: <%= @craft.category %>
    </div>
  </div>
  </br>
  <%= link_to 'Back', :back, class:'btn btn-custom indent' %>
<% else %>
  <%= link_to 'Back', :back, class:'btn btn-custom indent' %>
<% end %>

