<% if current_user.admin? %>
  <h1>Edit Craft</h1>
  <div class="center">
    <%= link_to 'All Crafts', crafts_path, class:"btn btn-dark" %>
  </div>

  <div class='center'>
    <%= image_tag @craft.image_url, class: "max-size-image" %>
  </div>
  
  <%= render "form", craft: @craft %>

<% else %>
  <p>You seem to be lost!</p>
<% end %>

<%= button_to 'Destroy Craft', craft_path(@craft), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: "margin-left: 5rem; margin-bottom: 5rem" %>
<%= link_to 'Back', :back, class:'btn btn-custom indent', style: "margin-left: 5rem" %>

