<h1>All Crafts</h1>
<% if current_user&.admin? %>
  <div class='center fs-3 mb-5'>
    <% if current_user.admin? %>
      <%= link_to 'Admin Dashboard', admin_index_path, class:'btn btn-dark' %>
      <%= link_to 'Create craft posting', new_craft_path, class:'btn btn-primary' %>
    <% end %>
  </div>

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @crafts.each do |craft| %>
      <tr class="fs-5 mb-2">
        <th scope="row"><%= craft.id %></th>
        <td><%= craft.name %></td>
        <td>
          <% if craft.craft_images.any? && craft.craft_images.first.image_url(:thumbnail) %>
            <%= image_tag(craft.craft_images.first.image_url(:thumbnail)) %>
          <% end %>
        </td>
        <td><%= link_to 'Edit Craft', edit_craft_path(craft) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>You might be lost.</p>
<% end %>

<%= link_to 'Back', :back, class:'btn btn-custom ms-5' %>

