<h1>All Crafts</h1>
<% if current_user.admin? %>
  <p class="center fs-3">
    <% if current_user.admin? %>
      <%= link_to 'Admin Dashboard', admin_index_path, class:"btn btn-dark" %>
      <%= link_to "Create craft posting", new_craft_path, class:"btn btn-dark" %>
    <% end %>
  </p>
  <br>
  <ul>
    <% @crafts.each do |craft| %>
      <li class="fs-3">
        <%= craft.id %>
        <%= link_to craft.name, craft_path(craft) %> | 
        <%= link_to 'Edit', edit_craft_path(craft) %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', :back, class:'btn btn-custom indent' %>
<% else %>
  <p>You might be lost.</p>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Back', :back, class:'btn btn-custom indent' %>
<% end %>
