<h1><%= @craft.name %></h1>
<h3><%= link_to @craft.category, craft_category_path_helper(@craft), class:"center nav-link underline hover-light-accent-color" %></h3>
<% if @craft.subtype.present? %>
  <div class="center"><%= @craft.subtype %></div>
<% end %>
<br>

<% if current_user&.admin? %>
  <div class='center mt-3'>
    <%= link_to "All Crafts - Admin", crafts_path, class: "btn btn-dark"%>
    <%= link_to "Edit Craft - Admin", edit_craft_path(@craft), class: "btn btn-primary" %>
  </div>
<% end %>
<br>

<%# <div class="center" > %>
  <%# <% if @craft.craft_images.present? %> 
    <%# <% @craft.craft_images.each do |ci| %> 
      <%# <div class=""> %>
        <%# <%= image_tag ci.image_url, class: "max-size-image" %> 
      <%# </div> %>
    <%# <% end %> 
  <%# <% end %> 
<%# </div> %>

<div id="carousel" class="carousel slide" data-controller="carousel">
  <div class="carousel-inner">
    <% @craft.craft_images.each do |ci| %>
      <div class="carousel-item">
        <%= image_tag ci.image_url, class: "carousel-img" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container comment-container">
  <p class="fs-2">Comments: <%= @comments.all.count %></p>
  <%= render "comments/form", craft: @craft, comment: @craft.comments.build %>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", craft: @craft, comment: comment%>
  <% end %>
</div>

<br><br>
<%= link_to "Back", :back, class: "btn btn-custom indent" %>
