
<h1><%= @craft.name %></h1>
</br>
<h4 class='center'><%= @craft.category %></h4>

<%= image_tag(@craftimage.image_path, class: 'center-img') %>

</br>

<div class="container">
  <%= render 'comments/form', craft: @craft %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', craft: @craft, comment: comment%>
  <% end %>
</div>

<%= link_to 'Back', :back, class:'btn btn-custom indent' %>