<div id="admin-dashboard">
  <h1>Admin Dashboard</h1>
  <div class="center">
    <%= link_to 'Create User', admin_create_path, class:"btn btn-dark" %>
    <%= link_to 'Console', admin_console_path, class:"btn btn-dark" %>
    <%= link_to 'Crafts', crafts_path, class:"btn btn-dark" %>
  </div>
  
  <div class="container" style="font-size: 1.7rem" >
    <% @users.each do |user| %>
      <div>
        User <%= user.id %>: <%= link_to user.username, user_path(user.id) %>
        <div class="indent">
          Email: <%= user.email %> |
          Role: <%= user.role %> |
          <%# Need to add counter cahce to comments, for users and crafts %>
          Total Comments: ?<%# user.comments.count %>
        </div>
      <div>
    <% end %>
  </div>

<%# console %>
