<div id='admin-dashboard'>
  <% if Rails.env == 'development' %>
    <h1>Git Branch: <%= Git_branch %></h1>
  <% end %>
  <h1>Admin Dashboard</h1>
  <div class='center'>
    <br>
    <div>
      <%= link_to 'All Crafts', crafts_path, class:'btn btn-primary' %>
      <%= link_to 'New Craft', new_craft_path, class:'btn btn-primary' %>
    </div>
  </div>
  </br></br>
  
  <div class='container' style='font-size: 1.7rem' >
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th class="col">ID</th>
          <th class="col">Email</th>
          <th class="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="fs-5 mb-2">
          <th scope="row"><%= user.id %></th>
          <td><%= user.email.present? ? user.email : nil %></td>
          <td><%= user.role.present? ? user.role.capitalize : nil %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
