<div class='grid-sorted mt-5'>
  <% @crafts.each do |craft| %>
    <% if craft.image_url.present? %>
      <div class='sorted-image-container'>
        <%= link_to image_tag(craft.image_url, class: 'sorted-img'), craft_path(craft) %>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>

<% if @crafts.empty? %>
  <div class="sorted-empty">
    <p class="indent sorted-empty-text">There aren't any crafts of this type yet! :(</p>
  </div>
  <div class="sorted-empty">
    <p class="indent sorted-empty-text">Check back later when some are added! :)</p>
  </div>
<% end %>

<%= render 'home/about' %>

<div data-controller="post-sort">
  <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by" 
    data-action="post-sort#update" data-post-sort-target="select" >
      <option value="alphabetical" <%= "selected" if params[:sort_by] == "alphabetical" %> >A-Z</option>
      <option value="alphabetical_reverse" <%= "selected" if params[:sort_by] == "alphabetical_reverse" %> >Z-A</option  >
      <option value="time_posted" <%= "selected" if params[:sort_by] == "time_posted" %> >Newest</option>
      <option value="time_posted_reverse" <%= "selected" if params[:sort_by] == "time_posted_reverse" %> >Oldest</option>
      <option value="rating" <%= "selected" if params[:sort_by] == "rating" %> >Highest Rating</option>
      <option value="rating_reverse" <%= "selected" if params[:sort_by] == "rating_reverse" %> >Lowest Rating</option>
      <option value="rating_bgg" <%= "selected" if params[:sort_by] == "rating_bgg" %> >Highest Rating BGG</option>
      <option value="rating_bgg_reverse" <%= "selected" if params[:sort_by] == "rating_bgg_reverse" %> >Lowest Rating BGG</option>
    </select>
</div>