<h1>Earrings</h1>

<div class="center">
  <label for="sort_by">Sort by:</label>
    <%= select_tag 'earring_sort_by', options_for_select([['All', 'all']] + @subtypes.map { |subtype| [subtype, subtype] }),
    prompt: 'Subtype',
    id: 'earring_sort_by',
    data: { 
      controller: "subtypeSort",
      action: "subtypeSort#update"
     } %>
</div>

<%= render 'home/sorted' %>

<div data-controller="post-sort">
  <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by" 
    data-action="post-sort#update" data-post-sort-target="select" >
      <option value="alphabetical" <%= "selected" if params[:sort_by] == "alphabetical" %> >A-Z</option>
      <option value="alphabetical_reverse" <%= "selected" if params[:sort_by] == "alphabetical_reverse" %> >Z-A</option  >
      <option value="time_posted" <%= "selected" if params[:sort_by] == "time_posted" %> >Newest</option>
      <option value="time_posted_reverse" <%= "selected" if params[:sort_by] == "time_posted_reverse" %> >Oldest</option>
      <option value="rating" <%= "selected" if params[:sort_by] == "rating" %> >Highest Rating</option>
      <option value="rating_reverse" <%= "selected" if params[:sort_by] == "rating_reverse" %> >Lowest Rating</option>
      <option value="rating_bgg" <%= "selected" if params[:sort_by] == "rating_bgg" %> >Highest Rating BGG</option>
      <option value="rating_bgg_reverse" <%= "selected" if params[:sort_by] == "rating_bgg_reverse" %> >Lowest Rating BGG</option>
    </select>
</div>

data: {
          controller: "comment",
          action: "comment#toggleForm",
          comment_form_param: "edit-form-#{comment.id}",
          comment_body_param: "comment-body-#{comment.id}",
          comment_button_param: "edit-button-#{comment.id}"
        }