<%= link_to home_print_path, class:"nav-link" do %>
  <h1>3-D Prints</h1>
<% end %>
<div class="d-flex justify-content-evenly">
    <%= link_to image_tag("3d-print/1_1.png", class: "flex-item"), craft_path(1) %>
    <%= link_to image_tag("3d-print/2_1.png", class: "flex-item"), craft_path(2) %>
    <%= link_to image_tag("3d-print/5_1.png", class: "flex-item"), craft_path(5) %>
</div>

<%= link_to home_crotchet_path, class:"nav-link" do %>
  <h1>Crotchet</h1>
<% end %>
<div class="d-flex justify-content-evenly" >
  <%= link_to image_tag("crotchet/1_1.png", class: "flex-item"), craft_path(6) %>
  <%= link_to image_tag("crotchet/2_1.png", class: "flex-item"), craft_path(7) %>
  <%= link_to image_tag("crotchet/3_1.png", class: "flex-item"), craft_path(8) %>
</div>

<%= link_to home_embroidery_path, class:"nav-link" do %>
  <h1>Embroidery</h1>
<% end %>
<div class="d-flex justify-content-evenly">
  <%= link_to image_tag("embroidery/1_1.png", class: "flex-item"), craft_path(10) %>
  <%= link_to image_tag("embroidery/2_1.png", class: "flex-item"), craft_path(11) %>
</div>

<div class="about-us-link-wrapper">
<%= link_to 'About Us', home_about_path, class:"about-us-link" %>
</div>
  