<h1>3-D Prints</h1>

<div class="d-flex justify-content-evenly">
    <%= image_tag("3d-print/1_1.png", class: "flex-item") %>
    <%= image_tag("3d-print/2_1.png", class: "flex-item") %>
    <%= image_tag("3d-print/5_1.png", class: "flex-item") %>
</div>

<h1>Crotchet</h1>

  <div class="d-flex justify-content-evenly" >
    <%= image_tag("crotchet/1_1.png", class: "flex-item") %>
    <%= image_tag("crotchet/2_1.png", class: "flex-item") %>
    <%= image_tag("crotchet/3_1.png", class: "flex-item") %>
  </div>

<h1>Embroidery</h1>

  <div class="d-flex justify-content-evenly">
    <%= image_tag("embroidery/1_1.png", class: "flex-item") %>
    <%= image_tag("embroidery/2_1.png", class: "flex-item") %>
  </div>