<h1><%= link_to 'Crotchet', home_crotchet_path, class:'index-title hover-light-accent-color' %></h1>
<div class='d-flex justify-content-evenly' >
  <%= link_to image_tag('crotchet/1_1.png', class: 'flex-item index-img'), craft_path(6) %>
  <%= link_to image_tag('crotchet/2_1.png', class: 'flex-item index-img'), craft_path(7) %>
  <%= link_to image_tag('crotchet/3_1.png', class: 'flex-item index-img'), craft_path(8) %>
</div>

<h1><%= link_to 'Embroidery', home_embroidery_path, class:'index-title hover-light-accent-color' %></h1>
<div class='d-flex justify-content-evenly'>
  <%= link_to image_tag('embroidery/1_1.png', class: 'flex-item index-img'), craft_path(10) %>
  <%= link_to image_tag('embroidery/2_1.png', class: 'flex-item index-img'), craft_path(11) %>
</div>

<h1><%= link_to '3-D Print', home_print_path, class:'index-title hover-light-accent-color' %></h1>
<div class='d-flex justify-content-evenly'>
    <%= link_to image_tag('3d-print/1_1.png', class: 'flex-item index-img'), craft_path(1) %>
    <%= link_to image_tag('3d-print/2_1.png', class: 'flex-item index-img'), craft_path(2) %>
    <%= link_to image_tag('3d-print/5_1.png', class: 'flex-item index-img'), craft_path(5) %>
</div>

<div class='about-us-link-wrapper'>
  <%= link_to 'About Us', home_about_path, class:'about-us-link hover-light-accent-color' %>
</div>
  