<h1>Socials</h1>

<% if false %>
<div class='social-wrapper text-center'>
  <div class='social-item'>
    <%= image_tag 'social/etsy-logo.svg', class: 'social-logo' %>
    <p class='fs-1'>Etsy</p>
    <a href='https://www.etsy.com' class='fs-5'>@MilksteakMami</a>
  </div>
  <div class='social-item'>
    <%= image_tag 'social/twitch-logo.svg', class: 'social-logo' %>
    <p class='fs-1'>Twitch</p>
    <a href='https://www.Twitch.com' class='fs-5'>@MilksteakMami</a>
  </div>
  <div class='social-item'>
    <%= image_tag 'social/youtube-logo.svg', class: 'social-logo' %>
    <p class='fs-1'>Youtube</p>
    <a href='https://www.Youtube.com' class='fs-5'>@MilksteakMami</a>
  </div>
  <div class='social-item'>
    <%= image_tag 'social/tiktok-logo.svg', class: 'social-logo' %>
    <p class='fs-1'>Tiktok</p>
    <a href='https://www.Tiktok.com' class='fs-5'>@MilksteakMami</a>
  </div>
</div>
<% else %>
  <p class="center fs-1">Intentionally left blank,</p>
  <p class="center fs-1">for now</p>
<% end %>

<%= render 'home/about' %>
<!--
<div class='container text-center social-wrapper2'>
  <div class='row justify-content-center'>
    <div class='col-2'>
      <%= image_tag 'social/etsy-logo.svg', class: 'img-fluid social-logo' %>
      <p>Etsy</p>
    </div>
    <div class='col-2'>
      <%= image_tag 'social/twitch-logo.svg', class: 'img-fluid social-logo' %>
      <p>Twitch</p>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-2'>
      <%= image_tag 'social/youtube-logo.svg', class: 'img-fluid social-logo' %>
      <p>Youtube</p>
    </div>
    <div class='col-2'>
      <%= image_tag 'social/tiktok-logo.svg', class: 'img-fluid social-logo' %>
      <p>Tiktok</p>
    </div>
  </div>
</div>
-->