<!DOCTYPE html>
<html>
  <head>
    <title>Milk'n'Thingzz</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta property="og:title" content="Milk N Thingzz - Cute Handmade Crafts & 3D Prints" />
    <meta property="og:description" content="A collection of Arts & Crafts I have made over the years" />
    <meta property="og:image" content="https://milknthingzz.xyz/uploads/da000385e4ba2a32484dfc22522338f8.png" />
    <meta property="og:type" content="website" />
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen&display=swap' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='https://unpkg.com/trix@2.0.0/dist/trix.css'>
    <script type='text/javascript' src='https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js'></script>
    <%= favicon_link_tag asset_path('milk-purple.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=G-RBK38KTC2X" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  </head>
  <body>
    <%= render 'home/header' %>
    <%= render 'home/popup' %>
    <div class='grid-container-nav-main'>
      <%= render 'home/nav' %>
      <div id='main-content' class='grid-item-main-content'>
        <% if alert || notice%>
          <%= render 'layouts/alerts' %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
